{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<!-- Display approved reviews for users -->
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto text-center" >
            <h1 class="review-heading">Reviews</h1>
            {% if object_list %}
                {% for review in object_list %}
                    <div class="row text-start">
                        <div class="col review-div">
                            <span>User: {{ review.author }} 
                                {% if review.rating == 1 %}
                                🥙🫓🫓🫓🫓
                                {% elif review.rating == 2 %}
                                🥙🥙🫓🫓🫓
                                {% elif review.rating == 3 %}
                                🥙🥙🥙🫓🫓
                                {% elif review.rating == 4 %}
                                🥙🥙🥙🥙🫓
                                {% elif review.rating == 5 %}
                                🥙🥙🥙🥙🥙
                                {% endif %}</span>
                            <br>Comment: <br> {{ review.content }} 
                        </div>
                    </div>
                {% endfor %}  
            {% else %}
            <!-- If there is no reviews to display -->
                <h2>Afiyet Olsun does not have any reviews at the moment</h2>
            {% endif %}
            <!-- User can leave reviews -->
            {% if user.is_authenticated %}
            <p>Would you like to leave a review? | <a href="{% url 'leave_review' %}">Leave Review</a></p>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}
