{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto text-center" >
            <h1 id="review-heading">Reviews</h1>
            {% if object_list %}
                {% for review in object_list %}
                    <div class="row each-reservation text-start">
                        <div class="col" id="review-div">User: {{ review.author }} 
                            <br>Rating: {{ review.rating }} 
                            <br>Comment: <br> {{ review.content }} 
                        
                        {% if review.author == user %}                       
                        <div class="col"><a href="{% url 'update_review' review.pk %}">Edit</a> | <a href="{% url 'delete_review' review.pk %}">Delete</a></div>
                        {% endif %}
                        </div>

                    </div>
                {% endfor %}  
            {% else %}
                <h2>Afiyet Olsun does not have any reviews at the moment</h2>
            {% endif %}
            {% if user.is_authenticated %}
            <p>Would you like to leave a review? | <a href="{% url 'leave_review' %}">Leave Review</a></p>
            
            {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}
