{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid banner">
    <div class="row">
        <div class="col-12 col-md-8 mx-auto text-center" id="welcome-div">
            <h1>Welcome</h1>
            <p>text text text text text</p>
            <p>text text text text text</p>
            <p>text text text text text</p>
            <p>text text text text text</p>
            <button>menu</button>
            <button>booking</button>
        </div>
    </div>

</div>

{% endblock %}


