{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 mx-auto text-center" id="menu-div">
            <h1>Menu</h1>
            <br>
            <h2>Açılışlar</h2>
            <h3>Starters</h3>
            <p>Yaprak Sarma <br>Minced lamb, rice and spices wrapped with vine leaf served with tomato saus and yougurt <br> £ 5.99 </p>
            <p>Lahmacun <br> Crispy flat pizza topped with minced beef, sallad and lemon juice <br> £ 6.99 </p>
            <p>Menemen <br> Eggs coocked with fresh vegetables and oregano served with bread <br> £ 5.99</p>
            <p>Corba <br> Lentil and tomato soup served with bread <br> £ 4.99 </p>
            <br>

            <h2>Ana Yemekler</h2>
            <h3>Main</h3>
            <p>Çiğ Köfte <br> Spicy meatballs served with rice, frech vegetables and yogurt <br> £ 12.99 </p>
            <p>Mantı <br> Mini ravioli stuffed with beef served with garlic tomato sauce <br> £ 10.99 </p>
            <p>Kuzu Tandir <br>Slow-cooked lamb served with grilled vegetables, rice and cucumber yogurt <br>£ 14.99</p>
            <p>Adana Kebab <br>Grilled minced lamb mixed with red pepper flakes and spices served with flatbread, vegetables and yogurt <br>£ 12.99</p>
            <br>

            <h2>Tatlılar</h2>
            <h3>Dessert</h3>
            <p>Kunefe <br> Sweet dessert made with cheese bread crumbs and pistachio nuts <br>£ 4.99</p>
            <p>Baklava <br> Layers of filo pastries stuffed with walnuts soacked in sugar suryp and topped with pistachio <br> £ 5.99 </p>
            <p>Lokum - Turkish Delight <br>Jelly-cubes with falvour of rosewater, lemon and mastic topped with powdered sugar <br> £ 4.99</p>
            <p>Mozzaik Pasta <br> Chocolate cake with broken biscuits <br>£ 7.99</p>
        </div>
    </div>

</div>


{% endblock %}