{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 mx-auto text-center" id="menu-div">
            <div class="image-container">
                <img src="../static/img/ao-menu.png" alt="Menu paper" id="menu-background">
            </div>
            <div class="menu-text">
                <h1>Menu</h1>
                <br>
                <p>Pide ..............£12</p>
                <p>Pide ..............£12</p>
                <p>Pide ..............£12</p>
                <p>Pide ..............£12</p>
                <p>Pide ..............£12</p>
                <p>Pide ..............£12</p>
            </div>
        </div>
    </div>

</div> 


{% endblock %}