{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 mx-auto" id="booking-div">
            {% if user.is_authenticated %}
            <form id="booking-form" method="post">
                {{ booking_form | crispy }}
                {% csrf_token %}
                <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
            {% else %}
            <p>Login to book a table</p>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}