/* Override default styles added from browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles for rows and cols*/
.row {
    --bs-gutter-x: 0;  /* Remove horizontal gutter spacing */
    margin: 10px;
}

/* Django messages */

#msg {
    background-color: rgb(130, 33, 33, 0.3);
    border: 2px solid #822121;
    border-radius: 0;
    color: beige;
}

/* Genreal body styles */
body {
    background-color: #040606;
    color: beige;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Asap Condensed", sans-serif;
}

h1 {
    font-size: 20px;
    font-family: "Libre Baskerville", sans-serif;
}

p {
    font-size: 15px;
}

a {
    color: #822121;
}
/* Delete default margin from bootstrap */
.row {
    margin: 0;
}

header {
    margin: 10px;
}

/* Navigation button*/
#custom-toggler {
    background-color: #040606;
    border: 3px solid #822121;
    border-radius: 0%;
}

#nav {
    background-color: #040606;

}

.nav-link {
    color: #AF977A;
}

.nav-link:hover {
    color: #822121;

}

#header-logo {
    width: 100%;
    max-width: 300px;
}


main {
    flex: 1 0 auto;
}

/* Footer */

.footer {
    background-color: #392D1F;
    padding: 30px 10px;
}

.footer h3 {
    font-size: 20px;
}

i {
    color:#822121;
    font-size: 20px;
    padding-right: 10px;
}

#footer-logo {
    margin-top: 30px;
}

/* HOME PAGE --> Index.hmtl */

.banner {
    background-image: url('../img/ao-banner.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;

}

#welcome-div {
    background-color: rgb(57, 45, 31, 0.8);
    border: 3px solid #392D1F;
    margin: 50px;
    margin-top: 30px;
}
.welcome-button {
    background-color: rgb(130, 33, 33, 0.3);
    padding: 4px 20px;
    border: 2px solid #822121;
    font-size: 15px;
    color: beige;
    border-radius: 0;
    margin: 10px;
}
/* Menu page */
#menu-div {
    background-color: rgb(130, 33, 33, 0.3);
    border: 4px solid #822121;
    color: #AF977A;
    margin: 10px 0px 30px 0px;
}

#menu-div h1 {
    font-size: 25px;
    font-family: "Sacramento", sans serif;
}
#menu-div h2 {
    font-size: 20px;
}
#menu-div h3 {
    font-size: 18px;
}

/* Login page */

#login-div {
    border: 3px solid #392D1F;
    padding: 10px;
    margin: 10px;
    
}

#login-div a {
    color: #822121;
    font-weight: bold;
}

#login-div button {
    background-color: #822121;
    padding: 4px 20px;
    border: 2px solid black;
    font-size: 15px;
    color: beige;
    border-radius: 0;
}

/* Logout page */
#logout-div {
    border: 3px solid #392D1F;
    padding: 10px;
    margin: 10px;
}

#logout-div button {
    background-color: #822121;
    padding: 4px 20px;
    border: 2px solid black;
    font-size: 15px;
    color: beige;
    border-radius: 0;
}

/* Sign up page */
#signup-div {
    border: 3px solid #392D1F;
    padding: 10px;
    margin: 10px;
}

#signup-div a {
    color: #822121;
    font-weight: bold;
}

#signup-div button {
    background-color: #822121;
    padding: 4px 20px;
    border: 2px solid black;
    font-size: 15px;
    color: beige;
    border-radius: 0;
}


/* Booking page */
#booking-div {
    background-color: rgb(57, 45, 31, 0.8);
    border: 3px solid #392D1F;
    padding: 15px;
    margin: 50px;
}

#imp-text {
    font-size: 14px;
    font-style: italic;
}

/* Reservations page */
#reservation-div {
    background-color: rgb(130, 33 ,33 , 0.3);
    border: 6px #822121;
    border-style: double;
    padding: 15px;
    margin: 50px;
}

.each-reservation a {
    color: #ffbf00;
}

/* Update page */

/* Delete page */
#delete-div {
    border: 3px solid #392D1F;
    padding: 10px;
    margin: 10px;
}

/* Contact page */
#contact-div {
    background-color: rgb(57, 45, 31, 0.8);
    border: 3px solid #392D1F;
    padding: 15px;
    margin: 50px;
}

#contact-div h1 {
    text-align: center;
} 

#contact-div p {
    text-align: center;
} 

.contact-banner {
    background-image: url('../img/banner-ao-table.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
}

/* Thank you page */
.thanks-banner {
    background-image: url('../img/ao-banner-pide.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
}

#thanks-div {
    background-color: rgb(57, 45, 31, 0.8);
    border: 3px solid #392D1F;
    padding: 15px;
    margin: 120px;
    text-align: center;
}

.back-to-home {
    border-radius: 0;
    border: 2px solid #822121;
    color: beige;
    background-color: rgb(130, 33, 33, 0.3);
    padding: 5px 20px;
    width: 25vh;
    text-align: center;
    margin-top: 50px;
}

.back-to-home a {
    color: beige;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

/* Form styles */
.forms-input {
    font-size: 13px;
    border-radius: 0;
    border: 2px solid rgb(130, 33, 33);
    color: #040606;
    background-color: beige;
}

#id_message {
    font-size: 13px;
    border-radius: 0;
    border: 2px solid rgb(130, 33, 33);
    color: #040606;
    background-color: beige;
    height: 20vh
}

#id_additional_info {
    font-size: 13px;
    border-radius: 0;
    border: 2px solid rgb(130, 33, 33);
    color: #040606;
    background-color: beige;
    height: 20vh
}

#id_company_size {
    font-size: 13px;
    border-radius: 0;
    border: 2px solid rgb(130, 33, 33);
    color: #040606;
    background-color: beige;
}

.custom-btn {
    font-size: 13px;
    border-radius: 0;
    border: 2px solid #392D1F;
    color: beige;
    background-color: rgb(130, 33, 33);
    padding: 5px 20px
}

/* Opening hours table */

.opening-hours {
    background-color: #392D1F;
    color: beige;
    width: 200px;
}

.opening-hours th {
    font-weight: 600;
}

