
/* Override default styles added from browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles for rows and cols*/
.row {
    --bs-gutter-x: 0;  /* Remove horizontal gutter spacing */
    margin: 10px;
}

/* Genreal body styles */
body {
    background-color: #040606;
    color: beige;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

header {
    margin: 10px;
}

/* Navigation button*/
#custom-toggler {
    background-color: #040606;
    border: 3px solid #822121;
    border-radius: 0%;
}

#nav {
    background-color: #040606;

}

.nav-link {
    color: #AF977A;
}

#header-logo {
    width: 100%;
    max-width: 300px;
}


main {
    flex: 1 0 auto;
}

/* Footer */

.footer {
    background-color: #392D1F;
}

/* HOME PAGE --> Index.hmtl */

.banner {
    background-image: url('../img/ao-banner.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}

#welcome-div {
    background-color: rgb(57, 45, 31, 0.8);
    border: 3px solid #392D1F;
}

/* Login page */

#login-div {
    border: 3px solid #392D1F;
    padding: 10px;
    margin: 10px;
    
}

#login-div a {
    color: #822121;
    font-weight: bold;
}

#login-div button {
    background-color: #822121;
    padding: 4px 20px;
    border: 2px solid black;
    font-size: 15px;
    color: beige;
    border-radius: 0;
}

/* Logout page */
#logout-div {
    border: 3px solid #392D1F;
    padding: 10px;
    margin: 10px;
}

#logout-div button {
    background-color: #822121;
    padding: 4px 20px;
    border: 2px solid black;
    font-size: 15px;
    color: beige;
    border-radius: 0;
}

/* Sign up page */
#signup-div {
    border: 3px solid #392D1F;
    padding: 10px;
    margin: 10px;
}

#signup-div a {
    color: #822121;
    font-weight: bold;
}

#signup-div button {
    background-color: #822121;
    padding: 4px 20px;
    border: 2px solid black;
    font-size: 15px;
    color: beige;
    border-radius: 0;
}


/* Booking page */
#booking-div {
    background-color: rgb(57, 45, 31, 0.8);
    border: 3px solid #392D1F;
    padding: 15px;
}

