{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="restaurant, turkish food, meat, vegetarian, drinks">
    <meta name="description" content="Restaurant Afiyet Olsun, traditional turkish food">
    <!-- Title -->
    <title>Afiyet Olsun</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <!-- Boostrap Css 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    -->
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 


</head>
<body>
    <header>
      <div class="header-container">
        <img id="logo" src="{% static 'img/logo-ao.webp' %}" alt="afiyet olsun logo">
        <!-- Navigation -->
        <div class="nav-bar">
          <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Menu</a></li>
              <li><a href="#">Contact</a></li>
              {% if user.is.authenticated %}
              <li><a href="#">Reservations</a></li>
              <li><a href="#">Logout</a></li>
              {% else %}
              <li><a href="#">Booking</a></li>
              <li><a href="#">Login / Sign Up</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>


    


    <footer>
      <div class="map">
        <h1>Find Us</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18025.016010853265!2d12.971476661302642!3d55.61720906076313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4653a41087cdfd33%3A0x8a784deb2901c8b7!2sScaniabadet!5e0!3m2!1ssv!2sse!4v1707561734227!5m2!1ssv!2sse"
          width="250" height="250" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="opening-hours"></div>
      <div class="logo"></div>
    </footer>

</body>
</html>