{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="restaurant, turkish food, meat, vegetarian, drinks">
    <meta name="description" content="Restaurant Afiyet Olsun, traditional turkish food">
    <!-- Title -->
    <title>Afiyet Olsun</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    
</head>
<body>
    <header>
        <h1>Welcome to afiyet olsun</h1>
        <nav></nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>


    

    <footer>
        <p>Footer</p>
    </footer>
</body>
</html>