{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- Thank you page -->
<div class="container-fluid thanks-banner">
    <div class="row">
        <div class="col-12 col-md-8 mx-auto" id="thanks-div">
            <p>We have recieved your message</p>
            <h1>Thank you for your message</h1>
            <p>We will return within 24 hours</p>
            <div class="back-to-home">
                <a href="{% url 'index' %}">Back to Home</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}