{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Contact form-->
<div class="container-fluid contact-banner">
    <div class="row">
        <div class="col-12 col-md-8 mx-auto" id="contact-div">
            
            <h1>Contact Us</h1>
            <p>We here at Restaurant Afiyet Olsun are here for your service</p>
            <p>If you have any questions or special request regarding a booking <br>
                 do not hesitate to contact us!</p>
            <form id="booking-form" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button id="submitButton" type="submit" class="btn btn-signup btn-lg custom-btn">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center" id="map-contact">
    <div class="row">
        <!-- Contact info -->
        <div class="col-md-6 sm-12 mx-auto">
            <h3>Contact Info</h3>
            <p><i class="fa-solid fa-location-dot"></i> Scaniastreet 45 Malmo, Sweden</p>
            <p><i class="fa-solid fa-phone"></i> 041 123456</p>
            <p><i class="fa-solid fa-envelope"></i> Info@afiyetolsun.com</p>
        </div> 
        <!-- Google maps of location -->
        <div class="col-md-6 sm-12 mx-auto">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18025.016010853265!2d12.971476661302642!3d55.61720906076313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4653a41087cdfd33%3A0x8a784deb2901c8b7!2sScaniabadet!5e0!3m2!1ssv!2sse!4v1707561734227!5m2!1ssv!2sse"
        width="650" height="300" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>


{% endblock %}