{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col base-div">
            {% if request.user.is_staff%}
            <h1>Message from {{ contactrequest.name }}</h1>
            <div class="row each-reservation">
                <div class="col-md-12">Name: {{ contactrequest.name }}</div>
                <div class="col-md-12">Email: {{ contactrequest.email }}</div>
                <div class="col-md-12">Subject: {{ contactrequest.title }}</div>
                <div class="col-md-12">Message: {{ contactrequest.message }}</div>
                <a href="{% url 'inbox' %}">Back to Inbox</a>
                <hr>
            </div>
            {% endif %}
        </div>
    </div>
</div>
</div>


{% endblock %}