body {
    background-color: #040606;
    color: beige;
}

#custom-toggler {
    background-color: #040606;
    border: 3px solid #822121;
    border-radius: 0%;
}

#nav {
    background-color: #040606;

}

.nav-link {
    color: #AF977A;
}

#header-logo {
    width: fit-content;
    max-width: 300px;
}